
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <h1>Carrito </h1>
    <div >
        <% carrito.forEach((element) => { %>
            
            <div class="finalCart">
                <h3><%= element.name %></h3>
                <p><%= element.price %>€</p>
                <p><%= element.cantidad %> </p>
                <p><%= element.price * element.cantidad%>€ </p>
            </div>
            
        <% }) %>
    </div>
    <a href="/products">Volver atrás</a>
</body>
</html>