
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <h1>Todos los libros disponibles</h1>
    <div class="gridCards">
        <% products.forEach((product) => { %>
            <form action="/carrito" method="POST" class="cardProducts">
                <h2><%= product.name %></h2>
                <p>Author: <%= product.author %></p>
                <p><%= product.price %> €</p>
                <input type="hidden" name="product_id" value="<%= product.idProducts %>">
                <input type="number" name="cantidad">
                <button type="submit">Agregar al carrito</button>
            </form>
        <% }) %>
    </div>
    <a href="/products">Volver atrás</a>
</body>
</html>